body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
	font-weight: 300;
	background-color: #F8F8F8;
	color: #4D4D4D;
}

#mlogo {
	width: 100%;
	height: auto;
}

/*.pacifico {
	font-family: 'Pacifico', cursive;
}*/

h2 {
	font-weight: bold;
	font-family: 'Pacifico', cursive;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.screen {
	width: 376px;
	height: 668px;
}

#blurb p {
	color: #F7F7F7;
	text-align: left;
	margin-left: 30px;
	font-size: 25pt;
	position: relative;
	bottom: 110px;
}

#blurb {
	/*display: relative;*/
}

.container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.smallcaps {
	font-variant: small-caps;
	font-weight: bold;
}

/*.flex-container {
	display: flex;
}
*/
.pair {
	display: flex;
	margin-bottom: 20px;
}

.pair:nth-child(odd) {
	flex-flow: row-reverse;
}

.pair p {
	margin-top: 40%;
	margin-left: 20px;
	margin-right: 20px;
}

.pair div {
	display: inline-block;
	vertical-align: middle;
}
/*.screen {
	width: ;
}*/html, body {
	height: 100%;
}

#logo {
	width: 100%;
	height: 100%;
	background-image: url("pics/Mimimal.jpg");
	background-size: cover;
}
h2 {
	margin-top: 0px;
	padding-top: 0px;
	color: white;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
h4 {
	position: absolute;
	bottom: 0;
	left: 15px;
	font-size: 10px;

}